{% extends "base.html" %}

{% block content %}
  <h1 class="h2">{{ game.game_description }}</h1>

{#  <iframe src="http://www.fangraphs.com/graphframe.aspx?config=0&static=0&type=wins&num=0&h=300&w=650&date=2020-09-30&team=Astros&dh=0" frameborder="0" scrolling="no" height="300" width="650" style="border:1px solid black;"></iframe>#}
{#  <br/>#}
{#  <p style="font-size:9pt; margin-bottom: 2rem;">Source: <a href="http://www.fangraphs.com/wins.aspx?date=2020-09-24&team=Astros&dh=0&season=2020">FanGraphs</a></p>#}

  <ul class="list-inline">
    <li class="list-inline-item">Key: </li>
    <li class="list-inline-item"><span class="badge badge-light">Video Available</span></li>
    <li class="list-inline-item"><span class="badge badge-success">Notible Play</span></li>
    <li class="list-inline-item"><span class="badge badge-secondary">Video Not Available</span></li>
  </ul>

  <hr>

  {% regroup game.at_bats.all by inning as grouped_innings %}
  {% for inning_group in grouped_innings reversed %}

    {% regroup inning_group.list by top_bottom as grouped_top_bottom %}
    {% for half_inning in grouped_top_bottom %}
      <h2 class="h4 pt-2" style="border-top: 3px solid #999">{{ half_inning.grouper }} {{ inning_group.grouper }}</h2>

      {% for at_bat in half_inning.list %}
        <h3 class="h6 mb-0 pt-2" style="border-top: 1px solid #ccc">{{ at_bat.batter.name_first_last }} <small class="text-muted"> – {{ at_bat.pitcher.name_first_last }} pitching. {{ at_bat.best_description }}</small></h3>

        <ul class="list-inline mb-3">
          {% for pitch in at_bat.pitches.all %}
            <li class="list-inline-item">
{#              <a href="{% url 'game:pitch_update' pitch.id %}" class="badge badge-{% if pitch.is_highlight %}success{% else %}light{% endif %}">P{{ pitch.pitch_number }}: {{ pitch.pitch_result }}</a>#}
            {% if game.is_previous_game and False %}
              <a href="{{ pitch.mlb_video_url }}" class="badge badge-{% if pitch.is_highlight %}success{% else %}light{% endif %}">P{{ pitch.pitch_number }}: {{ pitch.pitch_result }}</a>
            {% else %}
              {% if pitch.video_exists %}

{#                <a href="{% url 'game:pitch_detail' pitch.id %}" class="badge badge-{% if pitch.is_highlight %}success{% else %}light{% endif %}">P{{ pitch.pitch_number }}: {{ pitch.pitch_result }}</a>#}

              <a href="{{ pitch.video_url }}" class="badge badge-{% if pitch.is_highlight %}success{% else %}light{% endif %}">P{{ pitch.pitch_number }}: {{ pitch.pitch_result }}</a>
                {% else %}
                <span class="badge badge-secondary">P{{ pitch.pitch_number }}: {{ pitch.pitch_result }}</span>
              {% endif %}
              {% if pitch.data.call == "X" %}
                <a href="https://viz.mlb.com/play?game_pk={{ pitch.at_bat.game_id }}&play_id={{ pitch.play_id }}&w=640&h=640" target="graphic" class="badge badge-secondary">C</a>
                {% if pitch.data.events == "Home Run" %}
                  <a href="https://viz.mlb.com/sideways?game_pk={{ pitch.at_bat.game_id }}&play_id={{ pitch.play_id }}&w=720&h=327" target="graphic" class="badge badge-secondary">H</a>
                {% endif %}
              {% endif %}

            {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endfor %}

  {% endfor %}

{#  {% for at_bat in game.at_bats.all %}#}
{#    <li>{{ at_bat.description }}</li>#}
{#  {% endfor %}#}
{% endblock %}
