{% extends "base.html" %}

{% block content %}
  <style>
    pre {
      font-size: 12px;
    }

    #pitcher-boundry,
    #tipping-glove,
    #crop-boundry,
    #zone-boundry {
      border: 1px solid #fff;
      position: absolute;
    }

    #crop-boundry {
      border-color: yellow;
    }

    #zone-boundry {
      border-color: #7abaff;
    }
    #pitchvideo {
      cursor: crosshair;
    }
  </style>

  <h2>{{ pitch.at_bat.full_inning_string }} <small>{{ pitch.data.pitch_type }} {{ pitch.is_highlight }}</small></h2>

  <div class="row">
    <div class="col-auto m-0 p-0">
      <div id="crop-boundry" style="left: {{ pitch.crop_top_left_x }}px; top: {{ pitch.crop_top_left_y }}px; width: {{ pitch.crop_w }}px; height: {{ pitch.crop_h }}px;"></div>
      <div id="zone-boundry" style="left: {{ pitch.zone_top_left_x }}px; top: {{ pitch.zone_top_left_y }}px; width: {{ pitch.zone_w }}px; height: {{ pitch.zone_h }}px;"></div>
      <div id="pitcher-boundry" style="left: {{ pitch.video_rubber_x }}px; width: 700px; height: {{ pitch.pitcher_height_y }}px; top: {{ pitch.video_rubber_y }}px;"></div>
      <video id="pitchvideo" src="{{ pitch.video_url }}" controls></video>
    </div>
    <div class="col-2">
      <table class="table table-sm" style="width: auto;">
        <tbody>
          <tr>
            <th class="text-right align-middle">
              <pre class="mb-0">Pitch Scene Time:</pre>
            </th>
            <td>
              <pre class="mb-0"><span id="pitch_scene_time"></span></pre>
            </td>
          </tr>
          <tr>
            <th class="text-right align-middle">
              <pre class="mb-0">Pitch Release Time:</pre>
            </th>
            <td>
              <pre class="mb-0"><span id="pitch_release_time"></span></pre>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons" id="xy_buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="xy_selector" id="xy_zone" value="zone" checked>Strike Zone
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="xy_selector" id="xy_crop" value="crop">Crop
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="xy_selector" id="xy_pitcher" value="pitcher">Pitcher
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">

        <p>http://viz.mlb.com/sideways?game_pk={{ pitch.at_bat.game_id }}&play_id={{ pitch.play_id }}&w=480&h=218</p>
        <p>https://viz.mlb.com/play?game_pk={{ pitch.at_bat.game_id }}&play_id={{ pitch.play_id }}&w=640&h=640</p>
      </form>
    </div>
  </div>

  <script>
    const vid = document.getElementById('pitchvideo');
    let frameTime = 1 / 59.94;

    vid.ontimeupdate = function () {
      myFunction()
    };

    function myFunction() {
      let offsettime = (vid.currentTime).toFixed(2);
      document.getElementById("pitch_release_time").innerHTML = offsettime;
      document.getElementById("pitch_scene_time").innerHTML = offsettime;
      }

      $(document).ready(function () {
        $('input[type="submit"]').focus();

        $('#id_video_rubber_x').change(function () {
          $('#pitcher-boundry').css('left', $(this).val() + 'px');
        });

        $('#id_video_rubber_y').change(function () {
          $('#pitcher-boundry').css('top', $(this).val() + 'px');
        });

        $('#id_crop_top_left_x, #id_crop_top_left_y, #id_crop_bottom_right_x, #id_crop_bottom_right_y').change(function () {
          update_crop();
        });

        $('#id_zone_top_left_x, #id_zone_top_left_y, #id_zone_bottom_right_x, #id_zone_bottom_right_y').change(function () {
          update_zone();
        });

        $('#id_pitcher_height_y').change(function () {
          let height_diff = parseInt($('#pitcher-boundry').css('height'), 10) - $(this).val();
          $('#pitcher-boundry').css('height', $(this).val() + 'px');
          $('#id_video_rubber_y').val(+$('#id_video_rubber_y').val() + height_diff);

          $('#pitcher-boundry').css('top', $('#id_video_rubber_y').val() + 'px');
        });

        $('#pitch_release_time').on('click', function (e) {
          $('#id_pitch_release_time').val(document.getElementById("pitch_release_time").innerHTML);
        });

        $('#pitch_scene_time').on('click', function (e) {
          $('#id_pitch_scene_time').val(document.getElementById("pitch_scene_time").innerHTML);
        });


        $('#pitchvideo').on('click', function (e) {
          let cur_xy = $('#xy_buttons input[type="radio"]:checked').val();
          let offset = $(this).offset();
          let posX = offset.left.toFixed(2);
          let posY = offset.top.toFixed(2);
          let clickX = parseInt(e.pageX - posX);
          let clickY = parseInt(e.pageY - posY);

          if (cur_xy === 'pitcher') {

            let box_height = parseInt($('#id_pitcher_height_y').val(), 10);

            if (e.altKey && e.metaKey) {
              let height_diff = parseInt($('#id_video_rubber_y').val()) - clickY;
              $('#id_pitcher_height_y').val(box_height + height_diff).trigger('change');

            } else if (e.metaKey) {
              $('#id_video_rubber_x').val(clickX).trigger('change');
              $('#id_video_rubber_y').val(clickY - box_height).trigger('change');
            }

          } else if (cur_xy === 'zone') {
            if (e.altKey && e.metaKey) {
              $('#id_zone_bottom_right_x').val(clickX).trigger('change');
              $('#id_zone_bottom_right_y').val(clickY).trigger('change');

            } else if (e.metaKey) {
              $('#id_zone_top_left_x').val(clickX).trigger('change');
              $('#id_zone_top_left_y').val(clickY).trigger('change');
            }

          } else if (cur_xy === 'crop') {
            if (e.altKey && e.metaKey) {
              $('#id_crop_bottom_right_x').val(clickX).trigger('change');
              $('#id_crop_bottom_right_y').val(clickY).trigger('change');

            } else if (e.metaKey) {
              $('#id_crop_top_left_x').val(clickX).trigger('change');
              $('#id_crop_top_left_y').val(clickY).trigger('change');
            }
          }

          e.preventDefault();
        });

        $(document).keydown(function (evt) {
          vid.pause();
          if (vid.paused) { //or you can force it to pause here
            if (evt.which === 188) { // < key
              //one frame back
              vid.currentTime = Math.max(0, vid.currentTime - frameTime);
            } else if (evt.which === 190) { // > key
              //one frame forward
              //Don't go past the end, otherwise you may get an error
              vid.currentTime = vid.currentTime + frameTime;
            }
          }
        });

        function update_crop() {
          let top_x = $('#id_crop_top_left_x').val();
          let top_y = $('#id_crop_top_left_y').val();
          let bottom_x = $('#id_crop_bottom_right_x').val();
          let bottom_y = $('#id_crop_bottom_right_y').val();
          let width = bottom_x - top_x;
          let height = bottom_y - top_y;

          $('#crop-boundry').css('left', top_x + 'px');
          $('#crop-boundry').css('top', top_y + 'px');
          $('#crop-boundry').css('height', height + 'px');
          $('#crop-boundry').css('width', width + 'px');

        };

        function update_zone() {
          let top_x = $('#id_zone_top_left_x').val();
          let top_y = $('#id_zone_top_left_y').val();
          let bottom_x = $('#id_zone_bottom_right_x').val();
          let bottom_y = $('#id_zone_bottom_right_y').val();
          let width = bottom_x - top_x;
          let height = bottom_y - top_y;

          $('#zone-boundry').css('left', top_x + 'px');
          $('#zone-boundry').css('top', top_y + 'px');
          $('#zone-boundry').css('height', height + 'px');
          $('#zone-boundry').css('width', width + 'px');

        };


      });
  </script>
{% endblock %}
